.paddle-left {
  background: yellow;
  position: fixed;
}

.paddle-right {
  background: red;
  position: fixed;
}

.ball {
  position: fixed;
}

.goal {
  position: fixed;
}

.court {
  border: 2px solid black;
}

.middle-line {
  position: fixed;
}

.btn {
  border-radius: 6px;
  display: block;
  width: 100px;
  border: none;
  background-color: #04AA6D;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.option {
  position: absolute;
  display: flex;
  left: 15vh;
  width: 900px;
  justify-content: space-between;
  bottom: 200px;
}

.clock {
  position: absolute;
  right: 90vh;
}

.result {
  position: absolute;
  left: 60vh;
  bottom: 200px;
}